In [14]:
import pandas as pd

from cortex_lab.data_providers.data_managers import DataManager, DataFilterExpression

dm = DataManager()

In [15]:
data_filter = DataFilterExpression(regions={'default'}, domains_ts={"case_cards":{"20210315T173855Z"}})
case_cards_tables = dm.get_case_cards(data_filter)

In [16]:
judgements = case_cards_tables.doctor_triage_judgments

In [17]:
judgements.tail()

,card_id,highest_appropriate_triage,optimal_safe_triage,lowest_safe_triage,user_id,ts,region
4290,29057,HOSPITAL_URGENT,HOSPITAL_URGENT,HOSPITAL_URGENT,0a513a3c-f9dd-4ea9-bec2-1a3c2226d3cc,20210315T173855Z,default
4291,29058,HOSPITAL_URGENT,HOSPITAL_URGENT,HOSPITAL_URGENT,0a513a3c-f9dd-4ea9-bec2-1a3c2226d3cc,20210315T173855Z,default
4292,29059,HOSPITAL,GP_URGENT,GP_URGENT,e89f2e06-94cb-4700-8608-bcc405164cee,20210315T173855Z,default
4293,29059,HOSPITAL,HOSPITAL,GP_URGENT,c66c4bec-ad7f-4f41-8366-8cd41159562e,20210315T173855Z,default
4294,29059,HOSPITAL,HOSPITAL,GP_URGENT,763d1152-6757-4c95-9ca0-9cb59b77a307,20210315T173855Z,default

In [18]:
judgements.head()

,card_id,highest_appropriate_triage,optimal_safe_triage,lowest_safe_triage,user_id,ts,region
0,632,HOSPITAL,HOSPITAL,GP_URGENT,f63108a9-ffce-46ac-88cd-8f2758f3ca11,20210315T173855Z,default
1,632,HOSPITAL,HOSPITAL,GP_URGENT,763d1152-6757-4c95-9ca0-9cb59b77a307,20210315T173855Z,default
2,3632,GP_URGENT,GP,GP,c66c4bec-ad7f-4f41-8366-8cd41159562e,20210315T173855Z,default
3,3632,HOSPITAL,GP_URGENT,GP_URGENT,d2514c05-09e6-47be-b11a-d517ff53818c,20210315T173855Z,default
4,3632,GP_URGENT,GP_URGENT,GP_URGENT,0a513a3c-f9dd-4ea9-bec2-1a3c2226d3cc,20210315T173855Z,default

In [19]:
judgements[judgements['card_id']==632]

,card_id,highest_appropriate_triage,optimal_safe_triage,lowest_safe_triage,user_id,ts,region
0,632,HOSPITAL,HOSPITAL,GP_URGENT,f63108a9-ffce-46ac-88cd-8f2758f3ca11,20210315T173855Z,default
1,632,HOSPITAL,HOSPITAL,GP_URGENT,763d1152-6757-4c95-9ca0-9cb59b77a307,20210315T173855Z,default

In [27]:
judgements[0:2]

,card_id,highest_appropriate_triage,optimal_safe_triage,lowest_safe_triage,user_id,ts,region
0,632,HOSPITAL,HOSPITAL,GP_URGENT,f63108a9-ffce-46ac-88cd-8f2758f3ca11,20210315T173855Z,default
1,632,HOSPITAL,HOSPITAL,GP_URGENT,763d1152-6757-4c95-9ca0-9cb59b77a307,20210315T173855Z,default

In [29]:
import pandas as pd

t = [
    {'timestamp': '2012-04-30T22:25:31+00:00', 'value': 1},
    {'timestamp': '2012-04-30T22:25:43+00:00', 'value': 1},
    {'timestamp': '2012-04-30T22:29:04+00:00', 'value': 2},
    {'timestamp': '2012-04-30T22:35:09+00:00', 'value': 4},
    {'timestamp': '2012-04-30T22:39:28+00:00', 'value': 1},
    {'timestamp': '2012-04-30T22:47:54+00:00', 'value': 8},
    {'timestamp': '2012-04-30T22:50:49+00:00', 'value': 9},
    {'timestamp': '2012-04-30T22:51:57+00:00', 'value': 1},
    {'timestamp': '2012-04-30T22:54:50+00:00', 'value': 1},
    {'timestamp': '2012-04-30T22:57:22+00:00', 'value': 0},
    {'timestamp': '2012-04-30T22:58:38+00:00', 'value': 7},
    {'timestamp': '2012-04-30T23:05:21+00:00', 'value': 1},
    {'timestamp': '2012-04-30T23:08:56+00:00', 'value': 1},
]

raw = pd.DataFrame(t)

ts = pd.to_datetime(raw['timestamp'])
values = (entry['value'] for entry in t)

s = pd.Series(values, index=ts)

# start_date = s.timestamp.min()
# print('start', start_date)
# end_date = s.timestamp.max()
# print('end  ', end_date)

s

timestamp
2012-04-30 22:25:31+00:00    1
2012-04-30 22:25:43+00:00    1
2012-04-30 22:29:04+00:00    2
2012-04-30 22:35:09+00:00    4
2012-04-30 22:39:28+00:00    1
2012-04-30 22:47:54+00:00    8
2012-04-30 22:50:49+00:00    9
2012-04-30 22:51:57+00:00    1
2012-04-30 22:54:50+00:00    1
2012-04-30 22:57:22+00:00    0
2012-04-30 22:58:38+00:00    7
2012-04-30 23:05:21+00:00    1
2012-04-30 23:08:56+00:00    1
dtype: int64

In [17]:
# Using time series
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html?highlight=grouper
s.groupby(pd.Grouper(freq="H")).sum()

timestamp
2012-04-30 22:00:00+00:00    35
2012-04-30 23:00:00+00:00     2
Freq: H, dtype: int64

In [28]:
raw['timestamp'] = pd.to_datetime(raw['timestamp'])

# Group every 2 hours using 'timestamp' key as reference
# raw.groupby(pd.Grouper(key='timestamp', freq="H")).sum()

# Group every hour using 'timestamp' key as reference
raw.groupby(pd.Grouper(key='timestamp', freq="H")).sum()

                           value
timestamp
2012-04-30 22:00:00+00:00     35
2012-04-30 23:00:00+00:00      2

In [56]:
# Filter using dates
from_date = '2012-04-30T22:39:10+00:00'
to_date = '2012-04-30T23:05:25+00:00'

raw[(from_date < raw.timestamp) & (raw.timestamp < to_date)]
# TODO: I think the timestamps are compared as strings, not as datetime
# ensure how to do it as datetime
# check https://stackoverflow.com/questions/22898824/filtering-pandas-dataframes-on-dates

                    timestamp  value
4   2012-04-30T22:39:28+00:00      1
5   2012-04-30T22:47:54+00:00      8
6   2012-04-30T22:50:49+00:00      9
7   2012-04-30T22:51:57+00:00      1
8   2012-04-30T22:54:50+00:00      1
9   2012-04-30T22:57:22+00:00      0
10  2012-04-30T22:58:38+00:00      7
11  2012-04-30T23:05:21+00:00      1